html {
	font-size: 20px;
}

body {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
}

/* Tyopgraphy */

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
}

h1.light, h2.light {
	font-family: "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
}

h3 {
	font-size: 
}

@media only screen and (min-width: 981px) { 
	h3 {
		font-size: 1.2em !important;
	}
}

.button {
    background: #565656;
    border-width: 0px !important;
    border-radius: 0px;
	color: #ffffff !important;
    display: inline-block;
    font-size: 0.75em;
    letter-spacing: 0px;
    padding: 0.3em 1em !important;
    text-transform: uppercase;
}

.button.green {
	background: #71c043;
	color: #fff !important;
}

/* Slideshow and  Banner Areas */

.entry-content {

}

.entry-content > .et_pb_fullwidth_section {
	border-bottom: 3px solid #71c043;
}

.header-content {
	max-width: 650px;
}

.header-content h1, .et_pb_slide_description h2.et_pb_slide_title {
	font-family: "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
}

	@media screen only and (min-width: 991px) {
		.header-content h1, .et_pb_slide_description h2.et_pb_slide_title {
			font-size: 2.5em;
		}
	}

/* Top Header */

#top-header {
	font-size: 0.775rem;
}

	#top-header .container {
		font-weight: 400;
	}

	#top-header .et-social-icons {
		margin-left: 2em;
	}

/* Navigation */

#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a {
	color: #71c043;
}

#top-menu .menu-item-has-children > a:first-child, #et-secondary-nav .menu-item-has-children > a:first-child {
	padding-right: 0;
}

#top-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {
	content: "";
}

/* Homepage */

.home-products .et_pb_row_2 .et_pb_column, .home-products .et_pb_row_3 .et_pb_column, .home-products .et_pb_row_4 .et_pb_column {
	border: 1px solid #a2a4a8;
	border-top: 6px solid #71c043;
	padding: 1em;
	position: relative;
}

	.home-products .et_pb_row_2 .et_pb_column:after, .home-products .et_pb_row_3 .et_pb_column:after, .home-products .et_pb_row_4 .et_pb_column:after {
		top: 0;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(113, 192, 67, 0);
		border-top-color: #71c043;
		border-width: 6px;
		margin-left: -6px;
	}

/* Products Pages */

.products-ctas .et_pb_row_3 .et_pb_column h3 {
	border-bottom: 6px solid #71c043;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	position: relative;
}

	.products-ctas .et_pb_row_3 .et_pb_column h3:after {
		bottom: -18px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(113, 192, 67, 0);
		border-top-color: #71c043;
		border-width: 6px;
		margin-left: -6px;
	}